.slick-list, .slick-track, .slick-slide {
  width: 100%;
  height: 100%;
}

.slick-list {
  overflow: visible;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide {
  margin: 0 1.6rem;
  transition: transform .4s ease 0s;
}

.slick-slide > div {
  width: 100%;
  height: 100%;
}

.slick-slide,
.slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
  transition: transform .4s ease 0s;
}

.slick-center,
.slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
  transform: scale(1.2);
  .sp-designs-slick_item_info {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width:541px) and (max-width:1025px) {
  .slick-slide {
    margin: 0 2.4rem;
  }
  .slick-center,
  .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
    transform: scale(1.1);
  }
}
@media screen and (min-width:1025px) {
  .slick-slide {
    margin: 0 3.2rem;
  }
  .slick-center,
  .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
    transform: scale(1.1);
  }
}
